<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Data Customer</h1>
<a th:href="@{/customer/insert}">Add New Customer</a>
<table>
    <thead>
    <tr>
        <th>Nama Customer</th>
        <th>Tanggal Lahir</th>
        <th>Nomor Telepon</th>
        <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Cust : ${Customers}">
        <td><span th:text="${Cust.getNamaCustomer()}"> </span></td>
        <td><span th:text="${#dates.format(Cust.getTanggalLahir(), 'dd MMMMM yyyy')}"> </span></td>
        <td><span th:text="${Cust.getNomorTelp()}"> </span></td>
        <td><a th:href="@{/customer/edit/{id}(id=${Cust.id})}">Edit</a></td>
        <td><a th:href="@{/customer/delete/{id}(id=${Cust.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>